<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
								
  <a class="navbar-brand" href="/">NoPediPermiso</a>		
  <ul class="navbar ml-auto">
		    
  <a class="nav-link btn-danger" href="/users/login">Sign in</a>
			       
  <a class="nav-link btn-success" href="/canciones">CRUD</a>
  </ul>						
</nav>
